body {
  background: #0E222F;
  overflow-y: hidden;
}

.header_view {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  height: 85px;

  background: #031521;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}

.local_video_container {
  display: flex;
  width: 23%;
  flex-direction: column;
}

.video_container {
  display: flex;
  margin-top: 110px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between;
}

.remote_video {
  border: 1px solid #cddfe7;
  width: 75%;
  height: 75%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.local_video {
  border: 1px solid #cddfe7;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.room {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 10px;
  font-size: 20px;
}